<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>API Docs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <!-- <h1 class="text-center my-3">InfoRebornNew API by Salman</h1> -->
        <p class="text-center my-3"><strong><a href="https://github.com/msalmankhokhar/InforebornNew_API" target="_blank">Click Here</a></strong> to go to the Github Repository</p>
        <div id="readme-container" class="my-3"></div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
<!-- <script src="https://kit.fontawesome.com/7d3f73a100.js" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/darkreader@4.9.58/darkreader.min.js"></script>
<script>

  function renderREADME() {
    fetch('/get-readme')
      .then(response => response.text())
      .then(text => {
        const html = marked.parse(text);
        document.getElementById('readme-container').innerHTML = html;
      })
      .catch(error => console.error('Error fetching README:', error));
  }

  function setDarkMode(){
    DarkReader.auto(false);
    DarkReader.enable({
        brightness: 100,
        contrast: 100,
        sepia: 0
    });
  }

  window.onload = ()=>{
    renderREADME();
    setDarkMode();
  }

</script>
</html>